<html>
    <head>
        <title>Drone App</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/css/jquery.mobile-1.4.5.min.css" />
        <script src="../static/js/jquery-1.11.1.min.js"></script>
        <script src="../static/js/jquery.mobile-1.4.5.min.js"></script>
        <script>
            var color=["limegreen","coral","red"];
            var getLEDcolor=(progress)=>{
                var LED=null;
                if(progress>0&&progress<=30){
                    LED=color[2];
                }
                else if(progress>30&&progress<=70){
                    LED=color[1];
                }
                else if(progress>70&&progress<=100){
                    LED=color[0];
                }
                return LED;
            }
            $(()=>{
                $.ajax({
                    url:"/user_list",
                    async:false
                })
                .done(function(data){
                    if(data==0){
                        return;
                    }
                    var str=''
                    str += `<ul>`
                    for(id in data){
                        str += `<li style="display:inline-block; width:100px; height:100px; float:left; margin:30px;">`
                        str += `<img src='../static/img/profile/${id}/profile.jpg' style="width:100px; height:100px; display:inline;">`
                        str+=`<a href="#" data-role="button" class="ui-link ui-btn ui-shadow ui-corner-all user" onclick="return false" style="width:50px; margin-left:10px;">${id}</a>`
                        str += `</li>`
                    }
                    str += `</ul>`
                    str += `<br><br><br><br><br><br><br><br><br><br>`
                    console.log(str)
                    document.querySelector('#userlist').innerHTML+=str;
                })
                $.ajax({
                    url:"/battery",
                    async:false
                })
                .done(function(data,textStatus,xhr){
                    document.querySelector('.percent').value=data.battery;
                })
                percent=document.querySelector('.percent').value;
                var color=getLEDcolor(percent);
                if(color=="limegreen"){
                    $(".Energy").addClass("on");
                    $(".Label").css("color","limegreen");
                    $(".Label").css("color","limegreen").text(`${percent}%`);
                    $(".Energy").slice((percent/10)+1,10).addClass("on").css("background-color","gray");
                }
                else if(color=="coral"){
                    $(".Energy").addClass("on").css("background-color","coral");
                    $(".Label").css("color","coral");
                    $(".Label").css("color","coral").text(`${percent}%`);
                    $(".Energy").slice((percent/10)+1,10).addClass("on").css("background-color","gray");
                }
                else{
                    $(".Energy").addClass("on").css("background-color","red");
                    $(".Label").css("color","red").text(`${percent}%`);
                    $(".Energy").slice((percent/10)+1,10).addClass("on").css("background-color","gray");
                }
            })
        </script>
        <style>
            #TotalEnergy{
                display:flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                border: 1px solid gray;
                border-radius: 4px;
                padding: 8px 8px;
                margin: 8px 8px;
            }
            .Energy{
                display: block;
                width:100px;
                height:200px;
                background-color:gray;
                margin-right:4px;
            }
            .on{
                display: block;
                background-color: limegreen;
            }
            .Label{
                display: block;
                color:limegreen;
                text-align: center;
                line-height: 52px;
                font-size: 28px;
                width: 100px;
                height: 52px;
            }
        </style>
    </head>
    <body>
        <input class='percent' style='display:hidden' value='0'>
        </input>
        <div data-role="page">
            <div data-role="header">
                <a href="javascript:location.href='/'" data-icon="home" data-dom-cache="false">Home</a>
                <h1> Drone App </h1>
            </div>
            <div data-role="content">
                <div align="center">
                    <h1> Drone App </h1>
                    <div id="TotalEnergy">
                        <div class="Energy"></div>
                        <div class="Energy"></div>
                        <div class="Energy"></div>
                        <div class="Energy"></div>
                        <div class="Energy"></div>
                        <div class="Energy"></div>
                        <div class="Energy"></div>
                        <div class="Energy"></div>
                        <div class="Energy"></div>
                        <div class="Energy"></div>
                        <div class="Label">100%</div>
                    </div>
                </div>
                <div id="userlist" style="display:flex;justify-content:center;margin-bottom:30px;">
                </div>
                <div id="Menu" style="display:block;">
                    <ul data-role="listview">
                        <li><a href="javascript:location.href='/controller'">Controller</a></li>
                        <li><a href="javascript:location.href='/setting'">Setting</a></li>
                        <li><a href="javascript:location.href='/regist'">User Regist & Delete</a></li>
                        <li><a href="javascript:location.href='/about'">about</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>
