<html>
    <head>
        <title>Drone App</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/css/jquery.mobile-1.4.5.min.css" />
        <script src="../static/js/jquery-1.11.1.min.js"></script>
        <script src="../static/js/jquery.mobile-1.4.5.min.js"></script>
        <script src="../static/js/file_upload.js"></script>
        <style>
            .setting-box{
                position:relative;
                text-align: center;
            }   
        </style>
        <script>
            var sendCommand=(command,params={})=>{
                console.log({action:'sendCommand',command:command,params:params})   
                params['command']=command
                $.post("/api/command/",params).done((json)=>{
                    console.log({action:'sendCommand',json:json})
                },'json')
            }
            var form_submit=()=>{
                if(document.getElementsByName("user_name")[0].value==''){
                    alert('사용자 이름을 입력해주세요!');
                    check_submit=0;
                    return check_submit;
                }
                var check_submit=confirm('사용자 등록을 하시겠습니까?');
                return check_submit;
            }
        </script>
    </head>
    <body>
        <div data-role="page">
            <div data-role="header">
                <a href="javascript:location.href='/'" data-icon="home" data-dom-cache="false">Home</a>
                <h1> Drone App </h1>
            </div>

            <div data-role="content">
                <div class="setting-box" style="text-align:left">
                    <h3>User Regist-upload</h3>
                </div>
                <form action="http://localhost:9999/setting/regist_file" method="post" onSubmit="return check_submit()" enctype="multipart/form-data">
                    Name: <input type="text" name="user_name">
                    <input type="file" name="file">
                    <input type="submit" value="제출">
                </form>
            </div>
        </div>
    </body>
</html>